workflows/weekly-dev-summary/n8n-weekly-dev-summary.workflow.json
{
  "name": "Weekly Dev Summary \u2014 GitHub + Claude (bounty #5)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "691c92f4-592f-43c4-b9a2-53bfa6b84482",
      "name": "Weekly Trigger (Fri 5pm)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c227dc9e-20ee-47cd-92a1-e2f90846b7e9",
              "name": "githubOwner",
              "value": "n8n-io",
              "type": "string"
            },
            {
              "id": "e0cb887c-acfa-4728-8380-b610f4bed61e",
              "name": "githubRepo",
              "value": "n8n",
              "type": "string"
            },
            {
              "id": "44fbfaba-8dad-4616-9783-69a5b74608d2",
              "name": "language",
              "value": "EN",
              "type": "string"
            },
            {
              "id": "154b30f1-a654-4d53-87a6-af4b694be70c",
              "name": "destinationType",
              "value": "discord",
              "type": "string"
            },
            {
              "id": "7915d0de-5972-44dd-86da-a9fa2e173b1d",
              "name": "webhookUrl",
              "value": "https://discord.com/api/webhooks/REPLACE_ME",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f4d26e99-a456-4dc9-b6a1-abd8ad659024",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Compute the 7-day window (YYYY-MM-DD) and carry config forward.\nconst cfg = $input.first().json;\nconst d = new Date();\nd.setDate(d.getDate() - 7);\nconst sinceISO = d.toISOString().slice(0, 10);\nreturn [{ json: { ...cfg, sinceISO } }];"
      },
      "id": "884de85e-ea8e-43c6-9b80-475d7b35ceb8",
      "name": "Compute Window",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/search/commits?q=repo:{{ $('Compute Window').first().json.githubOwner }}/{{ $('Compute Window').first().json.githubRepo }}+committer-date:>={{ $('Compute Window').first().json.sinceISO }}&per_page=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "283cb41d-4ce9-4d0e-81c8-f9af709a9b86",
      "name": "GitHub: Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GITHUB_CRED",
          "name": "GitHub API (Header Auth)"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/search/issues?q=repo:{{ $('Compute Window').first().json.githubOwner }}/{{ $('Compute Window').first().json.githubRepo }}+is:pr+is:merged+merged:>={{ $('Compute Window').first().json.sinceISO }}&per_page=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "ed8ab7d5-b1c9-4039-afcb-11ca53887496",
      "name": "GitHub: Merged PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GITHUB_CRED",
          "name": "GitHub API (Header Auth)"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/search/issues?q=repo:{{ $('Compute Window').first().json.githubOwner }}/{{ $('Compute Window').first().json.githubRepo }}+is:issue+is:closed+closed:>={{ $('Compute Window').first().json.sinceISO }}&per_page=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "c99e0bb2-b2c9-42d1-8498-1287a2ead953",
      "name": "GitHub: Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GITHUB_CRED",
          "name": "GitHub API (Header Auth)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gather GitHub results and build the Claude API payload.\nconst cw      = $('Compute Window').first().json;\nconst commits = $('GitHub: Commits').first().json || {};\nconst prs     = $('GitHub: Merged PRs').first().json || {};\nconst issues  = $('GitHub: Closed Issues').first().json || {};\n\nconst repo = `${cw.githubOwner}/${cw.githubRepo}`;\nconst lang = String(cw.language || 'EN').toUpperCase() === 'FR' ? 'French' : 'English';\n\nconst commitList = (commits.items || [])\n  .map(c => `- ${(c.commit && c.commit.message ? c.commit.message.split('\\n')[0] : '')} (${(c.sha||'').slice(0,7)})`)\n  .slice(0, 50).join('\\n');\nconst prList = (prs.items || []).map(p => `- #${p.number} ${p.title}`).slice(0, 50).join('\\n');\nconst issueList = (issues.items || []).map(i => `- #${i.number} ${i.title}`).slice(0, 50).join('\\n');\n\nconst system = `You are a senior engineering writer. Write a concise, factual weekly development `\n  + `summary for the GitHub repository ${repo}, in ${lang}. Use three short sections: `\n  + `Highlights, Shipped (merged PRs + notable commits), and Housekeeping (closed issues). `\n  + `Keep it under 250 words. Never invent activity that is not in the data; if a section is `\n  + `empty, say so in one line.`;\n\nconst user = `Week since ${cw.sinceISO}.\\n\\n`\n  + `Merged PRs (${prs.total_count || 0}):\\n${prList || '(none)'}\\n\\n`\n  + `Closed issues (${issues.total_count || 0}):\\n${issueList || '(none)'}\\n\\n`\n  + `Commits (${commits.total_count || 0}):\\n${commitList || '(none)'}`;\n\nconst claudePayload = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 1024,\n  system,\n  messages: [{ role: 'user', content: user }],\n};\nreturn [{ json: { claudePayload, repo, lang } }];"
      },
      "id": "73e31cdb-6b45-4db4-b3e1-4aff378c17bd",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claudePayload }}",
        "options": {}
      },
      "id": "f1c602b9-23c5-4737-a2f4-412312e4c584",
      "name": "Claude (Messages API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ANTHROPIC_CRED",
          "name": "Anthropic API (x-api-key)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract Claude's text and build the destination webhook body.\nconst resp = $input.first().json || {};\nconst text = (resp.content && resp.content[0] && resp.content[0].text)\n  ? resp.content[0].text\n  : '(no summary returned)';\nconst cfg = $('Compute Window').first().json;\nconst repo = `${cfg.githubOwner}/${cfg.githubRepo}`;\nlet deliveryBody;\nif (String(cfg.destinationType || 'discord').toLowerCase() === 'slack') {\n  deliveryBody = { text: `*Weekly Dev Summary \u2014 ${repo}*\\n\\n${text}` };\n} else {\n  deliveryBody = { content: `**Weekly Dev Summary \u2014 ${repo}**\\n\\n${text}`.slice(0, 1900) };\n}\nreturn [{ json: { summaryText: text, deliveryBody } }];"
      },
      "id": "e08f418d-366f-44b4-a7b3-0922d2fa2510",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Compute Window').first().json.webhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.deliveryBody }}",
        "options": {}
      },
      "id": "c05c4e31-2e75-45c2-9da4-e89f406f35f6",
      "name": "Deliver (Discord/Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        300
      ]
    }
  ],
  "connections": {
    "Weekly Trigger (Fri 5pm)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Compute Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Window": {
      "main": [
        [
          {
            "node": "GitHub: Commits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Commits": {
      "main": [
        [
          {
            "node": "GitHub: Merged PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Merged PRs": {
      "main": [
        [
          {
            "node": "GitHub: Closed Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Closed Issues": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Claude (Messages API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude (Messages API)": {
      "main": [
        [
          {
            "node": "Format Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary": {
      "main": [
        [
          {
            "node": "Deliver (Discord/Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}